<h1>Hello from user bookings</h1>

<% @bookings.each do |booking| %>
<ul>
<li>
<%= booking.yacht.user.first_name %>
  <% if booking.request == nil %>
    <%= "pending"  %>
  <% elsif booking.request == true %>
    <%= "accepted" %>
  <% else %>
    <%= "rejected" %>
  <% end %>
</li>
</ul>
<% end %>


<% if @bookings.length == 0 %>
 <%= render partial: 'nobookings' %>
   <% end %>
