<h1>My Bookings</h1>

<% @bookings.each do |booking| %>
<ul>
<li>
<%= booking.yacht.user.first_name %>
  <% if booking.request == nil %>
    <%= "pending"  %>
  <% elsif booking.request == true %>
    <%= "accepted" %>
  <% else %>
    <%= "rejected" %>
  <% end %>
</li>
</ul>
<% end %>

<%= link_to "Browse", yachts_path %>
