 <div class="container">

<!-- My yachts iteration-->
    <h2 class="pt-5 pb-3">My Yachts</h2>
  <div class="listing-yacht-container">
      <% @user.yachts.each do |yacht| %>
      <div class="listing-yacht-card">
            <div class="listing-yacht-image">
          <% if yacht.photo.attached? %>
                <img src="<%= cl_image_path yacht.photo.key %>" alt="yacht-image">
              <% else %>
                <img src="https://images.unsplash.com/photo-1567899378494-47b22a2ae96a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8eWFjaHR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60" alt="yacht-image">
              <% end %>
            </div>
            <div class="listing-yacht-name">
                <h5><%= yacht.name %></h5>
                <p><%= yacht.location %></p>
            </div>
          <div class="links d-flex justify-content-between">
            <%= link_to icon('fa-solid', 'pen-to-square'), edit_yacht_path(yacht) %>
            <%= link_to icon('fa-solid', 'trash'),
                yacht_path(yacht),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          </div>
          </div>
      <% end %>
   </div>

<!-- My listings iteration-->
    <h2 class="pt-3 pb-3">My Listings</h2>
      <div class="booking-requests-container">
        <% @user.yachts.each do |yacht| %>
              <% yacht.bookings.each do |booking| %>
            <div class="booking-requests-cards" data-controller="requestbuttons">
                  <h6><%= booking.user.email %> has requested:</h6>
                  <h5><strong><%= booking.yacht.name.upcase%></strong></h5>
                  <p><strong>Check-in date: </strong><%= booking.check_in %></p>
                  <p><strong>Check-out date: </strong><%= booking.check_out %></p>
                  <p data-requestbuttons-target="requestText">Requests:   <% if booking.request == nil %>
                                  <%= "pending"%>
                                <% elsif booking.request == true %>
                                <%= "accepted"%>
                                <% else %>
                                <%= "rejected"%>
                                <% end %></p>
                  <div class="request-buttons">
                    <div data-action="click->requestbuttons#disable" data-requestbuttons-target="acceptButton">
                      <%= button_to "Accept", accept_booking_path(booking), method: :patch, class: "btn btn-accept"%></div>
                    <div data-action="click->requestbuttons#disable" data-requestbuttons-target="rejectButton">
                      <%= button_to "Reject", reject_booking_path(booking), method: :patch, class: "btn btn-reject"%></div>
                  </div>
          </div>
              <% end %>
           <% end %>
       </div>


     <%= link_to "Create New Listing", new_yacht_path, class: "btn btn-primary btn-cta" %>
</div>
