<h1>Host page</h1>
<h2>My Yachts</h2>
<% @user.yachts.each do |yacht| %>
  <ul>
    <li>
     <%= yacht.name %>
    </li>
  </ul>
<% end %>

<h2>My listings</h2>
<% @user.yachts.each do |yacht| %>
  <ul>
    <li>
      <% yacht.bookings.each do |booking| %>
       <ul>
        <li>
         <%= booking.user.email %> -
         check in date:<%= booking.check_in %> -
         check out date: <%= booking.check_out %>
         Requests:   <% if booking.request == nil %>
                        <%= "pending"  %>
                      <% elsif booking.request == true %>
                        <%= "accepted" %>
                      <% else %>
                        <%= "rejected" %>
                      <% end %>
        </li>
       </ul>
       <%= button_to "accept", accept_booking_path(booking), method: :patch %>
       <%= button_to "reject", reject_booking_path(booking), method: :patch %>
       <% end %>
    </li>
  </ul>
<% end %>
