<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to yachts_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-sailboat"></i>
    <% end %>
       <%# <p class="brand_name">Jacht</p> %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link avatar dropdown-toggle cursor: pointer;" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i style="cursor: pointer;" class="fa-solid fa-user"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "View Yachts", yachts_path, class: "dropdown-item" %>
              <%= link_to "My Bookings", mybookings_path, class: "dropdown-item" %>
              <%= link_to "My Listings", mylistings_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
            <% else %>
              <%= link_to "View Yachts", yachts_path, class: "dropdown-item" %>
              <%= link_to "Log In", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<% # nav_bar_end %>
