<%# <%= render "shared/navbar" %>
<div class="container my-5">
  <div class="show-nav">
    <div>
      <h2>Yachts</h2>
      <p>Explore our magical yachts</p>
    </div>
    <%= link_to "Go back",  root_path %> <!-- Link to root -->
  </div>

  <div class="container">
    <div class="cards mt-4">
        <% @yachts.each do |yacht| %>
        <div class="yacht-cards">
          <img src="https://images.unsplash.com/photo-1567899378494-47b22a2ae96a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8eWFjaHR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60" alt="yacht-image">
              <div class="top-text mt-2">
                  <h5><%= link_to yacht.name, yacht_path(yacht) %></h5> <!-- Link to show page -->
                  <div><i class="fa-solid fa-person"></i><%= yacht.capacity %></div>
              </div>
              <div class="bottom-text">
                <p><%= yacht.location %></p>
                <p>£<%= yacht.price_per_night %></p>
              </div>
        </div>
        <% end %>
    </div>
  </div>
</div>


<!-- Styling notes to do:
  - Nicer button on line 7
  - New images for each iteration
  - Link image?
  - Edit cards w/ media-width >
