<h2>Yachts</h2>

<div class="container">
  <ul>
    <% @yachts.each do |yacht| %>
      <li>
        <%= link_to yacht.name, yacht_path(yacht) %> <!-- Link to show page -->
        <ul>
          <li>Location: <%= yacht.location %></li>
          <li>Price: £<%= yacht.price_per_night %></li>
          <li>Capacity: <%= yacht.capacity %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Go back", yachts_path %> <!-- Link to index -->
