<div class="container mt-5">
<h2 class="text-align: left; pb-4" >Adding your new Yacht</h2>
<%= simple_form_for [@yacht] do |f| %>
  <%= f.input :name %>
  <%= f.input :capacity %>
  <%= f.input :price_per_night %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :amenities %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "Create Yacht", class: "btn-small-blue mt-2" %>
<% end %>
<div>
