<h2><%= @yacht.name %></h2>

<ul>
  <li><%= @yacht.user.first_name %> <%= @yacht.user.last_name %></li>
  <li>Location: <%= @yacht.location %></li>
  <li>Price: £<%= @yacht.price_per_night %></li>
  <li>Capacity: <%= @yacht.capacity %></li>
  <li>Amenities: <%= @yacht.amenities %></li>
  <li>Description: <%= @yacht.description %></li>
</ul>

<%= link_to "Back to all Yachts", yachts_path %>

<%= simple_form_for [@yacht, @booking] do |f| %>
  <%= f.input :check_in,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :check_out,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

  <%= f.input :guests %>
  <%= f.submit %>
<% end %>
