<h2><%= @yacht.name %></h2>

<ul>
  <li><%= @yacht.user.first_name %> <%= @yacht.user.last_name %></li>
  <li>Location: <%= @yacht.location %></li>
  <li>Price: £<%= @yacht.price_per_night %></li>
  <li>Capacity: <%= @yacht.capacity %></li>
  <li>Amenities: <%= @yacht.amenities %></li>
  <li>Description: <%= @yacht.description %></li>
</ul>

<%= link_to "Back to all Yachts", yachts_path %>
