<div class="container">

  <div>

    <h2 class="mt-5"><%= @yacht.name %></h2>
    <div class="d-flex">
      <h3 class="mb-3 mt-2">Location: <%= @yacht.location %></h3>
    </div>

    <div>
  <div class="container">
    <div class="row">
      <div class="large-img col-md-6 px-0">
        <img src="<%= cl_image_path @yacht.photos[0].key %>" alt="yacht-image" alt="yacht-image" class="img-fluid w-100">
      </div>

      <div class="mini-imgs col-md-6 d-flex flex-row">

        <div class="row">
          <div class="col-6 new-mini">
            <img src="<%= cl_image_path @yacht.photos[1].key %>" alt="yacht-image" alt="yacht-image" class="img-fluid img-one">
            <img src="<%= cl_image_path @yacht.photos[2].key %>" alt="yacht-image" alt="yacht-image" class="img-fluid img-two">
          </div>
          <div class="col-6 bottom-img">
            <img src="<%= cl_image_path @yacht.photos[3].key %>" alt="yacht-image" alt="yacht-image" class="img-fluid img-three">
            <img src="<%= cl_image_path @yacht.photos[4].key %>" alt="yacht-image" alt="yacht-image" class="img-fluid img-four">
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
  </div>

  <div class="d-flex mt-4 justify-content-between">

    <div class="yacht-detial-container text-center" style="margin: 10px;">
      <div class="text-start">
        <h5>Yatch hosted by <%= @yacht.user.first_name %> <%= @yacht.user.last_name %></h6>
      </div>
      <br>
      <div class="yacht-detail-cards">
        <div class="yacht-detail-card p-3">
          <% # <div class="yacht-detail-card-content"> %>
            <i class="fa-solid fa-person"></i>
          <% # </div> %>
          <% # <div class="yacht-detail-card-content"> %>
            <p><%= @yacht.capacity %></p>
          <% # </div> %>
        </div>

        <div class="yacht-detail-card p-3">
          <% # <div class="yacht-detail-card-content"> %>
            <i class="fa-solid fa-helicopter"></i>
          <% # </div> %>
          <% # <div class="yacht-detail-card-content"> %>
            <p><%= @yacht.amenities.capitalize %></p>
          <% # </div> %>
        </div>

        <div class="yacht-detail-card p-3">
          <% # <div class="yacht-detail-card-content"> %>
            <i class="fa-solid fa-user-astronaut"></i>
          <% # </div> %>
          <% # <div class="yacht-detail-card-content"> %>
            <p><%= @yacht.user.bio %></p>

          <% # </div> %>
        </div>
      </div>

      <div>
          <br>
        <p class="text-start"><strong>More about this yacht:</strong> <%= @yacht.description %></p>
        <div class="mt-4 text-start">
          <%= link_to "Back To All Yachts", yachts_path, class: "btn-small" %>
        </div>
      </div>
      <br>
      <div class="reviews">
        <h2 class="border-bottom">Reviews</h2>
          <% @yacht.reviews.each do |review|%>
            <div class="review-card">
              <%= review.user.first_name %> -
              <%= review.content %>
              <%= review.rating %> ⭐️
            </div>
        <% end %>

      </div>

    </div>


    <div class="d-flex flex-row align-items-start form" id="yacht-show">
      <%= simple_form_for [@yacht, @booking] do |f| %>
        <%= f.input :check_in,
                    as: :string,
                    input_html: { data: { controller: "datepicker", target: "check-in-date"} } %>
        <%= f.input :check_out,
                    as: :string,
                    input_html: { data: { controller: "datepicker", target: "check-out-date"} } %>
        <%= f.input :guests %>



        <%= f.submit "Create Booking"%>
        <h4 class="price">Total £<%= @yacht.price_per_night %>0</h4>
      <% end %>


      </div>
      </div>
    </div>
    <div class="container">
    <h2 class="my-3">Where You'll Stay</h2>
      <div class="map-center" style="width: 100%; height: 400px; center-align text"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
      </div>
    </div>
</div>
