<h2><%= @yacht.name %></h2>

<ul>
  <li><%= yacht.name %></li>
  <li>Location:<%= @yacht.location %></li>
  <li>Price: £<%= y@acht.price_per_night %></li>
  <li>Capacity:<%= @yacht.capacity %></li>
  <li>Amenities:<%= @yacht.amenities %></li>
  <li>Description:<%= @yacht.description %></li>
</ul>
