<div class="container my-5">

<div>
    <h2><%= @yacht.name %></h2>
    <div class="d-flex border-bottom">
      <p class="m-2"><i class="fa-solid fa-person"></i><%= @yacht.capacity %></p>
      <p class="m-2">Location: <%= @yacht.location %></p>
    </div>

  <div>
<div class="container">
  <div class="row">
    <div class="large-img col-md-6">
      <img src="<%= cl_image_path @yacht.photo.key %>" alt="yacht-image" alt="yacht-image" class="img-fluid w-100">
    </div>


   <!--  <div class="mini-imgs col-md-6 d-flex flex-row">

      <div class="row">
        <div class="col-6">
          <img src="<%= cl_image_path @yacht.photo.key %>" alt="yacht-image" alt="yacht-image" class="img-fluid">
        </div>
        <div class="col-6">
          <img src="<%= cl_image_path @yacht.photo.key %>" alt="yacht-image" alt="yacht-image" class="img-fluid">
        </div>
        <div class="col-6">
          <img src="<%= cl_image_path @yacht.photo.key %>" alt="yacht-image" alt="yacht-image" class="img-fluid">
        </div>
        <div class="col-6">
          <img src="<%= cl_image_path @yacht.photo.key %>" alt="yacht-image" alt="yacht-image" class="img-fluid">
        </div>
      </div>
      -->
    </div>
  </div>
</div>
    </div>
</div>

<div class="container mini">
    <p>Name: <%= @yacht.user.first_name %> <%= @yacht.user.last_name %></p>
    <p>Price per night: £<%= @yacht.price_per_night %></p>
    <p>Amenities: <%= @yacht.amenities %></p>
    <p>Description: <%= @yacht.description %></p>
    <p>User Bio: <%= @yacht.user.bio %></p>

</div>

<div class="container">
      <%= link_to "Back To All Yachts", yachts_path, class: "btn btn-primary btn-cta" %>
<br>
<br>
  <%= simple_form_for [@yacht, @booking] do |f| %>
    <%= f.input :check_in,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :check_out,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>

    <%= f.input :guests %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
