<div class="container my-5">

    <div>
        <h2><%= @yacht.name %></h2>
        <div class="d-flex border-bottom">
          <p class="m-2"><i class="fa-solid fa-person"></i><%= @yacht.capacity %></p>
          <p class="m-2">Location: <%= @yacht.location %></p>
        </div>



      <div>
    <div class="container">
      <div class="row">
        <div class="large-img col-md-6">
          <img src="<%= cl_image_path @yacht.photo.key %>">

      </div>
        <li>Name: <%= @yacht.user.first_name %> <%= @yacht.user.last_name %></li>
        <li>Price per night: £<%= @yacht.price_per_night %></li>
        <li>Capacity: <%= @yacht.capacity %></li>
        <li>Amenities: <%= @yacht.amenities %></li>
        <li>Owner Bio: <%= @yacht.user.bio %></li>
    </div>


    </div>





      <%= simple_form_for [@yacht, @booking] do |f| %>
        <%= f.input :check_in,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :check_out,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>

        <%= f.input :guests %>
        <%= f.submit %>
      <% end %>
      <%= link_to "Back to all Yachts", yachts_path, class: 'btn btn-primary' %>
</div>
