<!DOCTYPE html>
<html>
  <head>
    <title>YachtAirbnbClonee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Inter:wght@300;400;600&family=Poppins:wght@100;200;300;400&family=Raleway:wght@600;900&family=Roboto&family=Urbanist:wght@200&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,100;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
  <%=yield%> <%= render "shared/navbar" %>
  <%# nav_bar %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
